html {
  scroll-behavior: smooth;
}
.portfolio-page {
  position: relative;
  height: 100%;
  background: #000;
}

/* custom scrollbar  */
.portfolio-page .scrollBar {
  position: fixed;
  right: 0%;
  top: 35%;
  z-index: 9;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-page .scrollBar input {
  -webkit-appearance: none !important;
  appearance: none !important;
  position: relative;
  width: 100%;
  height: 1px;
  outline: none;
  cursor: pointer;
  background: #fff;
}
.portfolio-page .scrollBar input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  height: 10px;
  width: 30px;
  border: 1px solid #fff;
  border-radius: 2px;
}
/* custom scrollbar end  */

.portfolio-page .banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.portfolio-page .banner .githubYoutubeLink {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
}
.portfolio-page .banner .githubYoutubeLink a {
  position: relative;
  text-decoration: none;
  margin: 0 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-page .banner .githubYoutubeLink a .linkinfo {
  position: relative;
  font-size: 0.59rem;
  line-height: 0.5rem;
  top: 10px;
}
.portfolio-page .banner .githubYoutubeLink a .linkinfo p:nth-child(1) {
  font-size: 1.2rem;
}
.portfolio-page .banner .githubYoutubeLink a i {
  margin: 0 10px;
  font-size: 3.2rem;
}
.portfolio-page .banner .BackgroundName {
  position: absolute;
  right: 0;
  top: 0;
  height: 80%;
  width: 85%;
  text-align: center;
  z-index: -99;
}
.portfolio-page .banner .BackgroundName h1 {
  font-weight: 800 !important;
  height: 100%;
  width: 100%;
  font-size: 25.5rem;
  color: rgba(226, 222, 222, 0.062);
}
.portfolio-page .banner .portfolioImage {
  position: absolute;
  height: 400px;
  width: 350px;
  z-index: 99;
  bottom: 0%;
  left: 3%;
  z-index: -1;
}
.portfolio-page .banner .portfolioImage::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  /* background: rgba(9, 173, 23, 0.815); */
  /* background: #017bf5; */
  /* background: rgb(6, 235, 36); */
  z-index: -1;
  top: 0;
  left: 0;
}
.portfolio-page .banner .portfolioImage::after {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  background: transparent;
  z-index: -2;
  top: -5%;
  left: -5%;
  border: 1px solid rgba(255, 255, 255, 0.082);
  border-radius: 5px;
  background: rgba(238, 231, 231, 0.041);
}
.portfolio-page .banner .portfolioImage img {
  height: 100%;
  width: 100%;
}
.portfolio-page .banner .infoPortfolio {
  width: 100%;
  height: 100vh;
}
.portfolio-page .banner .infoPortfolio h1 {
  font-size: 15rem;
}
.portfolio-page .banner .infoPortfolio .portfolioSubHeading {
  line-height: 1.3rem;
}
.portfolio-page .banner .infoPortfolio .portfolioSubHeading .portfolioP {
  font-size: 6.5rem;
}
.portfolio-page .banner .infoPortfolio .portfolioSubHeading p:nth-child(2) {
  font-size: 2.8rem;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #bec2c510;
}
.portfolio-page .banner .infoPortfolio .portfolioSubHeading p:nth-child(2) a {
  position: relative;
  color: #fff;
  padding: 15px 55px;
  color: #000;
  background: #fff;
}
.portfolio
  .banner
  .infoPortfolio
  .portfolioSubHeading
  p:nth-child(2)
  a::before {
  position: absolute;
  content: "";
  top: 30%;
  left: 10%;
  height: 80%;
  width: 95%;
  border-radius: 3px;
  border: 1px solid #fff;
  transition: 0.3s linear;
  z-index: -1;
}
.portfolio-page
  .banner
  .infoPortfolio
  .portfolioSubHeading
  p:nth-child(2)
  a:hover {
  color: #000;
}
.portfolio
  .banner
  .infoPortfolio
  .portfolioSubHeading
  p:nth-child(2)
  a:hover::before {
  transform: scale(1);
}

/*portfolio posts*/
.portfolio-page .portfolioPosts .postBox {
}
.portfolio-page .portfolioPosts .postBox .post {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.portfolio-page .portfolioPosts .postBox:nth-child(even) .post {
  flex-direction: row-reverse;
  background: rgba(248, 242, 242, 0.007);
}
.portfolio-page .portfolioPosts .postBox .post .img {
  position: relative;
  height: 400px;
  width: 550px;
  margin: 0 10px;
  border-radius: 3px;
}
.portfolio-page .portfolioPosts .postBox .post .img::before {
  position: absolute;
  content: "";
  top: -5%;
  right: -1%;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}
.portfolio-page .portfolioPosts .postBox:nth-child(even) .post .img::before {
  position: absolute;
  content: "";
  top: -5%;
  left: -1%;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}
.portfolio-page .portfolioPosts .postBox .post .img img {
  height: 100%;
  width: 100%;
}
.portfolio-page .portfolioPosts .postBox .Postinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.portfolio-page .portfolioPosts .postBox:nth-child(even) .Postinfo {
  text-align: right;
  align-items: flex-end;
  padding: 5px 20px;
}
.portfolio-page .portfolioPosts .postBox .Postinfo {
  position: relative;
  top: -1%;
}
.portfolio-page .portfolioPosts .postBox .Postinfo .postTitle {
  width: 100%;
  color: rgba(255, 255, 255, 0.692);
  font-weight: 600;
}
.portfolio-page .portfolioPosts .postBox .Postinfo .postDescription {
  width: 70%;
  color: rgba(255, 255, 255, 0.349);
}
.portfolio-page .portfolioPosts .postBox .Postinfo .postLinks {
  position: relative;
}
.portfolio-page .portfolioPosts .postBox .Postinfo .postLinks a {
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  color: #000;
  background: #fff;
  color: #fff;
  z-index: 1;
  margin: 0 10px;
}
.portfolio
  .portfolioPosts
  .postBox
  .Postinfo
  .postLinks
  a:nth-child(1)::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 1.5px solid #000;
  border-radius: 3px 3px 3px 20px;
  top: -8%;
  right: -2%;
  z-index: -1;
  background: #000;
}
.portfolio-page .portfolioPosts .postBox .Postinfo .postLinks a:nth-child(2) {
  background: transparent;
  color: #000;
}
.portfolio
  .portfolioPosts
  .postBox
  .Postinfo
  .postLinks
  a:nth-child(2)::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  z-index: -1;
  top: -8%;
  right: -2%;
}
.portfolio-page .portfolioPosts .loadMore a {
  position: relative;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 20px 85px;
  color: #000;
  background: #fff;
  font-size: 1.2rem;
  font-weight: bolder;
}
.portfolio-page .portfolioPosts .loadMore a::before {
  position: absolute;
  content: "";
  top: -10%;
  right: 3%;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}

/*scroll bar*/
::-webkit-scrollbar {
  display: none;
}
